
---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-performance-no-automatic-move,-cppcoreguidelines-owning-memory'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
