# common

.idea

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user


# Created by https://www.gitignore.io/api/snapcraft

### Snapcraft ###
# Snapcraft
parts/
prime/
stage/
*.snap
.snapcraft/
flameshot*.tar.bz2

.vscode/
build/
data/flatpak/.flatpak-builder
# NVIM
*~

# Jetbrains
.idea/

# End of https://www.gitignore.io/api/snapcraft
