dist: xenial
sudo: required

language: cpp

branches:
  only:
    - master

cache:
    directories:
      - $HOME/.cache
 
env:
    global:
      # Environment variables for 
      - PRODUCT=flameshot
      - VERSION=0.6.0
      - RELEASE=1
      - ARCH=x86_64
      # Dockerfile from https://github.com/flameshotapp/flameshot-docker-images
      - DOCKER_REPO=vitzy/flameshot

# The actual list of distribution is available on
# https://hub.docker.com/r/vitzy/flameshot/tags/
matrix:
    include:
        - os: linux
          # 27
          env: OS=fedora DIST=27 EXTEN=rpm
          services: docker
        - os: linux
          # 28
          env: OS=fedora DIST=28 EXTEN=rpm
          services: docker
        - os: linux
          # 29
          env: OS=fedora DIST=29 EXTEN=rpm
          services: docker
        - os: linux
          # 16.04 LTS
          env: OS=ubuntu DIST=xenial EXTEN=deb
          services: docker
        - os: linux
          # 18.04 LTS
          env: OS=ubuntu DIST=bionic EXTEN=deb
          services: docker
        - os: linux
          # 8
          env: OS=debian DIST=jessie EXTEN=deb
          services: docker
        - os: linux
          # 9
          env: OS=debian DIST=stretch EXTEN=deb
          services: docker
        - os: linux
          # No docker environment, just for CI build & test
          # ubuntu xenial;  default Qt version is 5.6.1
          env: OS=ubuntu DIST=xenial EXTEN=other
#       - os: osx
#         compiler: clang
#         osx_image: xcode9.2

before_install:
  - chmod +x .travis/*.sh
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then source .travis/linux_before_install.sh; fi

install:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then source .travis/linux_install.sh; fi

script:
# - git submodule update --init --recursive
# - git describe --long
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then source .travis/linux_script.sh; fi
# - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then source .travis/osx_script.sh; fi

after_success:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then source .travis/linux_after_success.sh; fi
  - echo "Download URL is $TEMP_DOWNLOAD_URL ."

# deploy:
#    # Deploy packages to Github Release
#    provider: releases
#    api_key: "GITHUB ENCYPTED OAUTH TOKEN"
#    file_glob: true
#    file: dist/*.{deb,rpm,AppImage,dmg}
#    skip_cleanup: true
#    on:
#      tags: true
#      branch: master
