image:
  - Visual Studio 2019
clone_folder: c:\projects\source

environment:
  Qt5_INSTALL_DIR: 'C:\Qt\5.15.2\msvc2019_64'
  PATH: '%Qt5_INSTALL_DIR%\bin;%PATH%'

build_script:
- cmd: >-

    mkdir build

    cd build

    set QTDIR=%Qt5_INSTALL_DIR%

    set "VCINSTALLDIR=C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC"

    set "OPENSSL_ROOT_DIR=C:/OpenSSL-v111-Win64"

    cmake c:\projects\source -G "Visual Studio 16 2019" -DCMAKE_BUILD_TYPE:STRING=Release -DENABLE_OPENSSL=ON -DRUN_IN_PLACE=OFF

    cmake --build . --parallel 2 --config "Release"

    cpack -G WIX -B package

    mkdir artifact

    cp package/*.msi artifact/.

    cp src/Release/*.exe artifact/.

    7z a -tzip artifact.zip artifact/

artifacts:
- path: build\package\*.msi
  name: installer
- path: build\src\Release\*.exe
  name: executable
- path: build\artifact.zip
  name: archive

deploy:
- provider: Webhook
  #url: https://app.signpath.io/API/v1/042f605f-b378-45d8-ad16-b7695b071036/Integrations/AppVeyor?ProjectSlug=flameshot&SigningPolicySlug=test-signing
  url: https://app.signpath.io/API/v1/042f605f-b378-45d8-ad16-b7695b071036/Integrations/AppVeyor?ProjectSlug=flameshot&SigningPolicySlug=release-signing
  authorization:
    secure: G5nNnkfRSJ+EEx+7LlUSSoEyoL+pHYItvjrNxbWITE7RB+cm9qzuHRdwmrZdEDjdVCLZ2TkNawynMxYcGMZAQA==
