Source: flameshot
Section: graphics
Priority: optional
Maintainer: Boyuan Yang <byang@debian.org>
Build-Depends:
 cmake (>= 3.16~),
 debhelper (>= 11),
 qt6-base-dev (>= 6.0.0~),
 qt6-tools-dev (>= 6.0.0~),
 qt6-tools-dev-tools (>= 6.0.0~),
 qt6-svg-dev (>= 6.0.0~) | libqt6svg6-dev (>= 6.0.0~),
 qt6-l10n-tools,
 libgl-dev,
Standards-Version: 4.7.2
Homepage: https://flameshot.org/
Vcs-Browser: https://github.com/flameshot-org/flameshot
Vcs-Git: https://github.com/flameshot-org/flameshot.git

Package: flameshot
Architecture: any
# ${shlibs:Depends}, # Ubuntu noble expand shlibs to t64 Qt libs, later versions of Ubuntu reverted back without suffix
Depends:
 ${misc:Depends},
 libc6 (>= 2.31),
 libgcc-s1 (>= 3.3.1),
 libstdc++6 (>= 10),
 hicolor-icon-theme,
 qt6-qpa-plugins (>= 6.0.0~),
 libqt6core6 (>= 6.0.0~),
 libqt6dbus6 (>= 6.0.0~),
 libqt6gui6 (>= 6.0.0~),
 libqt6network6 (>= 6.0.0~),
 libqt6widgets6 (>= 6.0.0~),
 libqt6svg6 (>= 6.0.0~),
Recommends:
 xdg-desktop-portal-gtk | xdg-desktop-portal-gnome | xdg-desktop-portal-kde | xdg-desktop-portal-wlr,
 grim,
Suggests:
 ca-certificates,
 openssl,
 qt6-image-formats-plugins,
Description: Powerful yet simple-to-use screenshot software
 Flameshot is a powerful yet simple-to-use screenshot software.
 Notable features include customizable appearance, in-app screenshot editing,
 D-Bus interface, experimental GNOME/KDE Wayland support, integration with
 Imgur and support for both GUI and CLI interface.
