[General]
; Lock storage selection for the enterprise users
; (it will lock to the default storage)
STORAGE_LOCK=true

; PROXY SETTINGS
;HTTP_PROXY_HOST=0.0.0.0
;HTTP_PROXY_PORT=3128

; No authentification USER and PASSWORD should be empty
;HTTP_PROXY_USER=
;HTTP_PROXY_PASSWORD=

;HTTP_PROXY_TYPE=3
; Proxy Types (3 is default):
; 0	Proxy is determined based on the application proxy set using setApplicationProxy()
; 1	Socks5 proxying is used
; 3	HTTP transparent proxying is used
; 4	Proxying for HTTP requests only
; 5	Proxying for FTP requests only

[S3]
S3_URL=https://api.flameshot.org/
S3_CREDS_URL=https://api.img.flameshot.org/
S3_X_API_KEY=amazon-secret-key
