[Desktop Entry]
Name=Configure Flameshot
Name[es]=Configurar Flameshot
GenericName=Screenshot tool
GenericName[es]=Herramienta de captura de pantalla
Comment=Powerfull yet simple to use screenshot software.
Comment[es]=Potente pero simple de usar software de capturas.
Exec=flameshot config
Icon=flameshot
Terminal=false
Type=Application
Categories=Graphics;
