[Desktop Entry]
Name=Flameshot
GenericName=Screenshot tool
Comment=Powerful yet simple to use screenshot software.
Keywords=flameshot;screenshot;capture;
Exec=flameshot
Icon=flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
Actions=Configure;Capture;

[Desktop Action Configure]
Name=Configure
Exec=flameshot config

[Desktop Action Capture]
Name=Take screenshot
Exec=flameshot gui
