[Desktop Entry]
Name=Launch Flameshot
Name[es]=Iniciar Flameshot
GenericName=Screenshot tool
GenericName[es]=Herramienta de captura de pantalla
Comment=Powerfull yet simple to use screenshot software.
Comment[es]=Potente pero simple de usar software de capturas.
Exec=flameshot
Icon=flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
