[Desktop Entry]
Encoding=UTF-8
Name=Flameshot
Name=Take graphical screenshot
Name[es]=Tomar captura gráfica
GenericName[es]=Herramienta de captura de pantalla
Comment=Powerfull yet simple to use screenshot software.
Comment[es]=Potente pero simple de usar software de capturas.
Exec=/usr/bin/flameshot gui
TryExec=/usr/bin/flameshot
Icon=/usr/share/icons/flameshot.png
Terminal=false
Type=Application
Categories=Graphics
StartupNotify=false
