[Desktop Entry]
Name=Configure Flameshot
Name[es]=Configurar Flameshot
Name[zh_CN]=配置 Flameshot
GenericName=Screenshot tool
GenericName[es]=Herramienta de captura de pantalla
GenericName[zh_CN]=截图工具
Comment=Powerful yet simple to use screenshot software.
Comment[es]=Potente pero simple de usar software de capturas.
Comment[zh_CN]=强大又易用的截图软件
Keywords=flameshot;screenshot;capture;
Keywords[zh_CN]=flameshot;screenshot;capture;截图;
Exec=flameshot config
Icon=flameshot
Terminal=false
Type=Application
Categories=Graphics;
