Button {
    border-radius: 15px;
    background-color: rgb(136, 0, 170);
    color: white
}

Button:hover {
    background-color: rgb(166, 0, 200);
}

Button:pressed:!hover {
    background-color: rgb(136, 0, 170);
}
